<div class="row p-1 mt-4">
  <div class="col-md-12">
    <div class="card">
      <div class="row align-items-center p-4" >
        <div class="col-1">
          <img  class="img-invoice" src='./assets/Invoice2.png'  />
        </div>
        <div class="col-9 col-sm-9 col-xl-9 p-0 px-5">
          <h5 class="title">Facturas</h5>
          <div class="input-group flex-nowrap">
            <!-- <span class="input-group-text" id="addon-wrapping"> -->
              <!-- <FontAwesomeIcon icon={faSearch} /> -->
            <!-- </span> -->
            <button class="input-group-text"  type="submit"> Buscar
              <!-- {sorted ? <i><FontAwesomeIcon icon={faSortAlphaUpAlt} /></i> : <i><FontAwesomeIcon icon={faSortAlphaDown} /></i>} -->
            </button>
            <form [formGroup]="formularioBusqueda"  novalidate="novalidate"  (ngSubmit)="onSubmit(formularioBusqueda)">
              <input
               formControlName="searchInput"
                type="text" class="form-control" placeholder="Busqueda de facturas" aria-label="Busqueda" aria-describedby="addon-wrapping" />

            </form>
          </div>
        </div>
        <div class="col-sm-2 col-xl-2 pl-0 text-center align-items-center">
        </div>
      </div>
      <!-- {(invoices.length > 0) ?
        invoices.filter(w => w.ItemName.toUpperCase().includes(search.toUpperCase())).map((item) => (
          <div key={item.ItemCode} class="row align-items-center item-row p-2">
            <div class="col-sm-10 col-xl-10 p-0 px-5 item-box">
              <h6 class="title">{item.ItemName} </h6>
              <p class="mb-0 font-weight-normal d-none d-sm-block">
                {item.ItemCode}
              </p>
            </div>
            <div class="col-sm-2 col-xl-2 pl-0 text-center item-price">
              <small class="mb-0 font-weight-normal d-none d-sm-block">
                Precio
                </small>
              <h5>
                ${item.PriceUnit}
              </h5>
            </div>
          </div>
        ))
        : <div class="row">
          <div class="col-md-12 mt-auto align-items-center text-center text-muted p-5">
            No hay registros disponibles
            <h1><i><FontAwesomeIcon icon={faSadTear} /></i></h1>
          </div>
        </div>
      } -->
    </div>
  </div>
</div>
